body{
    background-image: url(../image/background.svg);
    background-size: 100%;
    position: static;
    width: 1030px;
    padding: 0;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

.header-info{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 50px;
    margin-bottom: 25px;
}

.logo-link{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    color: #FFFFFF;
}

.logo-red{
    opacity: 0;
    position: absolute;
    left: 0;
}
    
.logo-link:hover > .logo-red{
    opacity: 1;
}

.logo-link:hover > .logo-title{
    color: #F26522;
}

.logo-title{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    margin-top: 0;
    margin-left: 8px;
    margin-bottom: 0
}

.logo-title>span{
    margin-left: 0;
    font-size: 18px;
    line-height: 18px;
}

.contacts{
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.contacts>li{
    margin-top: 20px;
}

.contacts-link{
    color: #FFFFFF;
}

.contacts-link:hover{
    color: #F26522;
}

.tours-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 60px 60px;
    padding: 0;
    margin-bottom: 50px;
    margin: 0;
}

.tours-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    position: relative;
}

.tours-abot-link{
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    margin-top: 20px;
}
 
.image-link{
    position: relative;
    overflow: hidden;
}

.price-info {
    position: absolute;
    width: 300px;
    height: 55px;
    background-color: #F26522;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding-left: 16px;
    padding-top: 8px;
    bottom: -48px;
    transition: bottom 0.6s;
    z-index: 1;
}

.tours-wrapper>li:hover .price-info {
    bottom: 0;    
}

.tours-wrapper>li:hover .tours-abot-link{
    color: #F26522;
} 

.price-info-1{
    grid-area: info1;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px; 
    color: #FFFFFF;
    padding-left: 16px;
}

.price-info-2{
    grid-area: info2;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    padding-left: 16px;
    padding-top: 8px;
}

.price-info-3{
    grid-area: info3;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    margin-left: 100px;
}

.price-info-3::after{
    content: url(../image/vector.svg);
    margin-left: 15px;
}

.price-info:hover, .tours-abot-link:hover{
    color: #F26522;
    opacity: 1; 
}

.image-border{
    border: 4px solid transparent;
    background: linear-gradient(to bottom, #000 30%, #F26522 50%) border-box;
}

footer{   
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 15px;
}

.footer-info{
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    margin: 0;
}
